In [143]:
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for i in high_schools: 
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [144]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [145]:
for i in high_school_types:
    print(i)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [146]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [147]:
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [148]:
import pandas as pd

In [149]:
school_series = pd.Series(high_schools)

In [150]:
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [151]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                     {"School ID": 1, "school_name": "Figueroa High School", "type": "District"}, 
                     {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                      {"School ID": 3, "school_name": "Huang High School", "type": "District"}, 
                      {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [152]:
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Huang High School', 'type': 'District'},
 {'Scool ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [153]:
school_df = pd.DataFrame()

In [154]:
school_df = pd.DataFrame(high_school_dicts)

In [155]:
school_df

   School ID           school_name      type  Scool ID
0        0.0     Huang High School  District       NaN
1        1.0  Figueroa High School  District       NaN
2        2.0   Shelton High School   Charter       NaN
3        3.0     Huang High School  District       NaN
4        NaN   Griffin High School   Charter       4.0

In [156]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [157]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [158]:
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

In [159]:
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [160]:
high_schools_dict = {'School ID': school_id, 'School Name': school_name, 'type': type_of_school}

In [161]:
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'School Name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [162]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [163]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [164]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [165]:
new_df = pd.DataFrame()

In [166]:
new_df["School ID"] = school_id
new_df["School_Name"] = school_name
new_df["Type"] = type_of_school